In [5]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
#import ImputingValues as t
import seaborn as sns
%matplotlib inline

df = pd.read_csv('./survey_results_public.csv')
df.head()

'The r-squared score for your model was 0.019170661803761924 on 645 values.'

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
2,113750.0,8.0,NaN,9.0,8.0
14,100000.0,8.0,NaN,8.0,8.0
17,130000.0,9.0,NaN,8.0,8.0
18,82500.0,5.0,NaN,3.0,NaN
22,100764.0,8.0,NaN,9.0,8.0

<bound method DataFrame.drop of          Salary  CareerSatisfaction  HoursPerWeek  JobSatisfaction  \
0           NaN                 NaN           0.0              NaN
1           NaN                 NaN           NaN              NaN
2      113750.0                 8.0           NaN              9.0
3           NaN                 6.0           5.0              3.0
4           NaN                 6.0           NaN              8.0
...         ...                 ...           ...              ...
19097       NaN                 9.0           NaN              8.0
19098       NaN                 NaN           NaN              NaN
19099       NaN                 4.0           NaN              5.0
19100  110000.0                 8.0           NaN              9.0
19101       NaN                 8.0           NaN              8.0

       StackOverflowSatisfaction
0                            9.0
1                            8.0
2                            8.0
3                           10.0
4                            NaN
...                          ...
19097                        8.0
19098                        NaN
19099                        NaN
19100                        9.0
19101                        NaN

[19102 rows x 5 columns]>